@use 'variaveis' as v;
@use 'textos' as t;

.hero{
    padding: 5.6vw;
    min-height: 80vh;
    background-image: url(../images/hero_desktop.jpeg);
    background-size: cover;
    text-align: center;

    &__conteudo{
        max-width: 640px;

        .titulo--pequeno{
            margin-bottom: 40px;
        }

        p{
            margin-bottom: 20px;

            // Faz com que o último filho do ele
            &:last-child{
                margin-top: 60px;
            }
        }
    }

    &__logo{
        max-width: 320px;
        margin: 0 auto 38px;
    }
}

.combos{
    display: flex;
    justify-content: space-between;
}

.combo{
    // Já que há dois, juntos eles ocupam 100% da área disponível, contando com a margem entre eles
    width: calc(50% - 12px);

    &__imagem{
        max-height: 75px;
    }

}

@media screen and (max-width:768px){
    .hero{
        background-image: url(../images/hero_celular.jpeg);
        padding-top: calc(50vw + 55px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -80px;

        &__logo{
            max-width: 180px;
        }
    }

    .combos{
        display: block;
    }
    
    .combo{
        // Já que há dois, juntos eles ocupam 100% da área disponível, contando com a margem entre eles
        width: 100%;
        margin-bottom: 24px;
    
    }
    
}

@media screen and (min-width:769px) and (max-width: 1023px) {
    .hero{
        background-image: url(../images/hero_tablet.jpg);
        padding-top: calc(50vw + 35px);
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -80px;

        &__conteudo{
            margin: 0 auto;
        }
        
        &__logo{
            max-width: 280px;
            margin: 0 auto 38px;
        }
    }

}